.App {
  min-height: 500vh;
  background-image: linear-gradient(45deg, #ff9a9e 60%, #fad0c4 100%);
}

.search.form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  position: absolute;
  left: 68.8%;
  top: 3px;
  padding: 12px 12px 12px 12px;
  font-weight: bolder;
  background-color: white;
}

.search-bar{
  position: absolute;
  width: 30%;
  margin: auto;
  top: 3px;
  left: 27%;
  font-size: large;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.808);
  height: 40px;
  border: none;
  padding-left: 30vh;
}

.recipes {
  display: flex;
  justify-content: space-around;
  float: left;
  margin: 30px;
  margin-top: 70px;
  background-color:hsla(0, 0%, 100%, 0.383);
  width: 25vw;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}